dialog.ppd-dialog {
  --width: 50vw;
  --max-height: 80vh;
  --min-height: 40vh;

  z-index: 1000;
  top: 0;
  left: 0;

  padding: 0;
  width: 100vw;
  height: 100vh;

  background-color: #00000000;
  outline: none;
  border: none;

  transition: .3s;
  & {
    display: block;
    pointer-events: none;
    visibility: hidden;
  }
  &[open] {
    pointer-events: unset;
    visibility: unset;
    background-color: #00000020;
    html[theme-mode=dark] & {
      background-color: #00000040;
    }
    > .ppd-dialog__container {
      top: 50%;
    }
  }
  > .ppd-dialog__container {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--width);
    max-height: var(--max-height);
    min-height: var(--min-height);
    border-radius: 8px;

    color: var(--fr-cr);
    background-color: var(--bg-cr-o0);
    border: 1px solid var(--border-color);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 32px #2224;

    overflow: overlay;
    transition: .5s;
    &:focus-visible {
      outline: none;
      box-shadow: 0 20px 32px #2224;
    }
    > .ppd-dialog__title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: 36px;

      background-color: var(--bg-cr);
      border-bottom: 1px solid var(--border-color);
      box-shadow: 0 0 48px #ccc;
      html[theme-mode=dark] & {
        box-shadow: 0 0 32px #1119;
      }
      > h1 {
        flex-grow: 1;
        margin: 0;
        padding-left: 15px;
        font-size: 1.5em;
      }
      > .ppd-dialog__close {
        width: 36px;
        height: 36px;
        color: var(--fr-cr);
        background-color: #0000;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 2em;
        font-weight: bold;
        transition: .1s;
        &:hover {
          color: #fe5450;
        }
      }
    }
    > .ppd-dialog__content {
      flex-grow: 1;
      padding: 10px 15px;
    }
  }
}
