@import 'List.share';

.ppd-help-dialog {
  @at-root dialog#{&} {
    & > .ppd-dialog__container {
      top: unset;
      bottom: -100%;
    }
    &[open] > .ppd-dialog__container {
      top: unset;
      bottom: -10%;
    }
    .ppd-dialog__content {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
  &__demo {
    display: flex;
    flex-direction: column;
    max-width: 576px;

    overflow: hidden !important;
    pointer-events: none;
    &--is-object {
      padding: 0;

      background-color: var(--bg-cr-o0) !important;
      backdrop-filter: blur(12px);
    }
    > img {
      width: 100%;
      height: 360px;
      object-fit: contain;
      border-bottom: 1px solid var(--border-color);
    }
    &__label {
      padding: 0 8px;

      height: 36px;
      line-height: 36px;

      background-color: var(--bg-cr);
      font-weight: bold;
    }
    @include description;
    &__description {
      margin-top: 0;
      padding: 5px 8px;

      border-top: 1px solid var(--border-color);
    }
  }
  &__section {
    flex-grow: 1;
    width: 0;

    display: flex;
    flex-direction: column;
  }
  &__section__title {
    margin: 10px 0;
    padding-left: 8px;
    font-size: 18px;
  }
  &__section__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    height: 0;
    overflow: overlay;
    &-item {
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      padding: 10px 8px;

      opacity: .6;
      html[theme-mode=dark] & {
        opacity: .8;
      }
      border-bottom: 1px solid var(--fr-cr-placholder);

      font-size: 15px;

      transition: .1s;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        opacity: 1;
      }
      @include description;
      &__description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
    &-item__label {
      flex-grow: 1;
      font-size: 14px;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &-item__label-wrap {
      display: flex;
      align-items: center;

      width: 100%;
    }
    &-item__keys {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 5px;

      font-size: 12px;

      user-select: none;
      &-splitter {
        width: 3px;
        text-align: center;
      }
      &-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
      }
      kbd {
        width: 32px;

        text-align: center;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        box-shadow: 0 1px 0 1px #0003;
        background-color: var(--bg-cr);

        transition: .1s;
        &:hover {
          box-shadow: 0 1px 0 0 #0005;
        }
        html[theme-mode=dark] & {
          box-shadow: 0 1px 0 1px #fffc;
          &:hover {
            box-shadow: 0 1px 0 0 #fff;
          }
        }
      }
    }
  }
}
