@mixin codeAndKBD {
  code {
    font-weight: bold;
    padding: 0 4px;
    margin-right: 2px;
    border-radius: 4px;
    border: 1px solid var(--fr-cr-placeholder);
    background-color: var(--bg-cr);
  }
  kbd {
    display: inline-block;
    width: 16px;

    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: 0 1px 0 1px #0003;
    background-color: var(--bg-cr);

    color: var(--fr-cr);
    text-align: center;
    html[theme-mode=dark] & {
      box-shadow: 0 1px 0 1px #fffc;
    }
  }
}
@mixin description {
  &__description {
    margin-top: 5px;
    font-size: 12px;
    padding-bottom: 2px;
    color: var(--fr-cr-placeholder);
    @include codeAndKBD;
  }
}
