.ppd-switcher {
  --gap: 5px;
  --bor-size: 2px;

  display: flex;
  gap: var(--gap);
  position: relative;
  padding: var(--gap);
  box-sizing: border-box;
  &__item {
    text-align: center;
    cursor: pointer;
    &--bar {
      position: absolute;
      width: 1%;
      height: 3px;
      margin-top: calc(50% - 3px);
      box-sizing: border-box;
      background-color: color-mix(in srgb, var(--primary), #0f0 50%);
      transition: .3s;
    }
  }
}
