[submodule "external/chrome-devtools"]
	path = external/chrome-devtools
	url = https://chromium.googlesource.com/devtools/devtools-frontend
[submodule "external/zodui"]
	path = external/zodui
	url = git@github.com:zodui/zodui.git
