.ppd-drawer-panel {
  --transition-time: .2s;

  visibility: hidden;
  z-index: 1;
  transform: translateX(-100%);

  display: flex;
  flex-direction: column;

  height: 100%;
  min-width: 250px;
  color: var(--pr-fr-cr);

  box-shadow: 0 0 12px #3338;
  html[theme-mode="dark"] & {
    box-shadow: 0 0 12px #1118;
  }
  border-right-width: 0 !important;
  transition: var(--transition-time);
  &:focus-visible {
    outline: none;
  }
  &--active {
    min-width: 250px !important;
    max-width: 50vw !important;

    border-right-width: var(--inner-border-width) !important;

    visibility: visible;
    transform: translateX(0%);
  }
  &__header {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    height: 32px;
    background-color: color-mix(in srgb, var(--primary), var(--bg-cr) 10%);
    border-bottom: color-mix(in srgb, var(--primary), var(--bg-cr) 20%) solid 1px;
    box-shadow: 1px 1px 12px #3338;
    html[theme-mode="dark"] & {
      box-shadow: 1px 1px 12px #1118;
    }
    transition: var(--transition-time);
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 5px;
    }
    html[theme-mode="dark"] & {
      box-shadow: 0 0 6px #111;
    }
    &__actions {
      display: flex;
      align-items: center;
      overflow: hidden;
      opacity: 0;
      transition: .15s;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;

        border: none;

        color: #fff;
        background-color: transparent;

        cursor: pointer;
        user-select: none;
        transition: .2s;
        &:hover {
          background-color: color-mix(in srgb, var(--primary), var(--bg-cr) 30%);
        }
        > .codicon {
          font-size: 12px;
          filter: drop-shadow(0 0 4px #111);
        }
      }
    }
  }
  &:hover &__header__actions,
  &:focus-within &__header__actions,
  &--menu-open &__header__actions {
    opacity: 1;
  }

  &.centered {
    min-width: 0;
    max-width: 0;
  }
  .ppd-editor-zone__menu-switch:not(.is-active) ~ &:not(.centered) {
    left: 0;
  }
  .ppd-editor-zone__menu-switch:not(.is-active) ~ & > &__header {
    padding-left: 28px;
  }

  &.popout {
    position: absolute;
    left: 46px;
  }
  &__body {
    flex-grow: 1;
    height: 0;
    padding: 4px 8px;
    overflow: hidden;
    background-color: var(--bg-cr-o0);
    backdrop-filter: blur(14px);
    transition: var(--transition-time);
  }
  &.centered &__body {
    background-color: var(--bg-cr);
  }
}
