dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0005;
  outline: none;
  border: none;
  > .dialog__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    max-height: 80vh;
    padding: 20px 30px;
    color: var(--fr-cr);
    background-color: var(--bg-cr);
    border-radius: 4px;
    overflow: overlay;
    transition: .1s;
    > .dialog__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > .dialog__close {
        padding: 0;
        width: 30px;
        height: 30px;
        background-color: #0000;
        color: var(--fr-cr);
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.5em;
        font-weight: bold;
        transition: .3s;
        &:hover { background-color: #0002; }
      }
    }
  }
  &.help {
    .dialog__content {
      font-size: 16px;
      h2 { margin-top: 0 }
      code {
        padding: 2px 4px;

        font-size: 14px;
        background-color: #0002;
        border-radius: 4px;
        html[theme-mode=dark] & {
          background-color: #0008;
        }
      }
    }
  }
  &.history {
    > .dialog__container {
      display: flex;
      flex-direction: column;
      height: 80vh;
      > .dialog__title {
        margin-top: -20px;
        margin-left: -30px;
        margin-right: -30px;
        padding: 5px 15px;
        border-bottom: 1px solid var(--primary);
        h5 { margin: 0 }
      }
    }
    .dialog__content {
      flex-grow: 1;
      height: 0;

      display: flex;
      flex-direction: column;
      > .history__list {
        display: flex;
        flex-direction: column;

        height: 30vh;
        margin: 0 -30px 0;
        overflow: overlay;
        > .history__item {
          justify-content: space-between;
          padding: 5px 0;
          border-bottom: 1px solid #0002;
          cursor: pointer;
          transition: .1s;
          &:hover {
            background-color: color-mix(in srgb, var(--primary) 50%, transparent);
          }
          &--selected {
            background-color: color-mix(in srgb, var(--primary) 30%, transparent);
          }
          &:last-child {
            border-bottom: none;
            margin-bottom: 0;
          }
          > .history__item__code {
            margin: 0;
            padding: 0 10px;
            font-size: 12px;
            text-overflow: ellipsis;
            overflow: hidden;
            // limit 4 line
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
          }
          > .history__item__time {
            margin: 0;
            padding-right: 20px;
            font-size: 12px;
            color: color-mix(in srgb, var(--fr-cr) 40%, transparent);
            text-align: right;
          }
        }
      }
      > .preview {
        flex-grow: 1;
        margin: 0 -30px -20px;
      }
    }
  }
}

.ppd-editor-zone {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 70vw;
  > section {
    flex-grow: 1;
    height: 0 !important;
  }
}
