.ppd-editor-zone {
  position: relative;
  display: flex;
  > .ppd-editor-zone__menu-switch {
    --inner-color: var(--btn-color, var(--primary));
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    user-select: none;
    transition: .2s;
    &:hover {
      > .codicon {
        &.codicon-layout-activitybar-left {
          transform: rotate(-90deg) translateY(-1px);
          &::before {
            content: '\eaf3';
          }
        }
        &.codicon-menu {
          transform: rotate(90deg) translateY(1px);
          &::before {
            content: '\eaf3';
          }
        }
      }
    }
    &.is-active {
      top: 5px;
      left: 6px;
      width: 34px;
      height: 34px;
      > .codicon:before {
        font-size: 20px;
      }
    }
    > .codicon {
      filter: drop-shadow(0 0 2px #333);
      transition: .1s;
    }
  }
  &__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 0;
    > .pdd-top-bar {
      &.display-menu {
        padding-left: 26px;
      }
    }
    > section {
      flex-grow: 1;
      height: 0 !important;
      > div > div.monaco-editor {
        padding-left: 5px;
        div[widgetid="editor.contrib.quickInputWidget"] {
          --vscode-list-hoverBackground: #0001;
          html[theme-mode="dark"] & {
            --vscode-list-hoverBackground: #fff1;
          }
          z-index: 1000;
          position: fixed !important;
          top: 51px !important;
          > .quick-input-widget {
            width: 800px !important;
            margin-left: -400px !important;
            box-shadow: 0 8px 16px var(--vscode-widget-shadow) !important;
            border: 1px solid gray !important;
            border-top: none !important;
            border-radius: 0 0 8px 8px !important;
            .monaco-list-row {
              transition: .3s;
            }
          }
        }
      }
    }
  }
}
