.ppd-editor-zone {
  position: relative;
  display: flex;
  > .ppd-editor-zone__menu-switch {
    --inner-color: var(--btn-color, var(--primary));
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    user-select: none;
    transition: .2s;
    &:hover {
      > .codicon {
        &.codicon-layout-activitybar-left {
          transform: rotate(-90deg) translateY(-1px);
          &::before {
            content: '\eaf3';
          }
        }
        &.codicon-menu {
          transform: rotate(90deg) translateY(1px);
          &::before {
            content: '\eaf3';
          }
        }
      }
    }
    &.is-active {
      top: 5px;
      left: 6px;
      width: 34px;
      height: 34px;
      > .codicon:before {
        font-size: 20px;
      }
    }
    > .codicon {
      transition: .1s;
    }
  }
  &__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 0;
    > .pdd-top-bar {
      &.display-menu {
        padding-left: 26px;
      }
    }
    > section {
      flex-grow: 1;
      height: 0 !important;
      > div > div.monaco-editor {
        padding-left: 5px;
      }
    }
  }
}
