.ppd-left-bar {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 44px 5px 5px;
  width: 36px;
  background-image: linear-gradient(
    135deg,
      color-mix(in srgb, var(--primary), var(--bg-cr) 10%) 50%,
      color-mix(in srgb, var(--primary), var(--bg-cr) 40%) 80%,
      color-mix(in srgb, var(--primary), var(--bg-cr) 80%)
  );
  box-shadow: 2px 0 16px #3338;
  overflow: hidden;
  transition: .1s;
  html[theme-mode="dark"] & {
    box-shadow: 2px 0 16px #1118;
  }
  &__bottom, &__top {
    display: flex;
    flex-direction: column;
    gap: 5px;
    > button {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 36px;

      border: 1px solid transparent;
      border-radius: 4px;
      color: #fff;
      background-color: transparent;

      cursor: pointer;
      user-select: none;
      transition: .2s;
      &:hover, &.active {
        background-color: color-mix(in srgb, var(--primary), #fff8 30%);
        border: 1px solid color-mix(in srgb, var(--primary), #fff5 60%);
      }
      &.active::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 4px;
        height: 60%;
        border-radius: 0 2px 2px 0;
        transform: translateY(-50%);
        background-color: var(--primary);
      }
      > .codicon {
        font-size: 16px;
        filter: drop-shadow(0 0 2px #333);
        &:before {
          font-size: 20px;
        }
      }
    }
    > img {
      border-radius: 4px;
    }
  }
}
