.ppd-left-bar {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 44px 5px 5px;
  width: 36px;
  background-image: linear-gradient(
    135deg,
      color-mix(in srgb, var(--primary), var(--bg-cr) 10%) 50%,
      color-mix(in srgb, var(--primary), var(--bg-cr) 40%) 80%,
      color-mix(in srgb, var(--primary), var(--bg-cr) 80%)
  );
  box-shadow: 0 0 4px #333;
  overflow: hidden;
  transition: .1s;
  html[theme-mode="dark"] & {
    box-shadow: 0 0 6px #111;
  }
  &__bottom, &__top {
    display: flex;
    flex-direction: column;
    gap: 5px;
    > button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 36px;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #fff;
      background-color: transparent;
      user-select: none;
      transition: .2s;
      &:hover {
        background-color: color-mix(in srgb, var(--primary), #fff8 30%);
        border: 1px solid color-mix(in srgb, var(--primary), #fff5 60%);
      }
      > .codicon {
        font-size: 16px;
        filter: drop-shadow(0 0 2px #333);
        &:before {
          font-size: 20px;
        }
      }
    }
    > img {
      border-radius: 4px;
    }
  }
}
