.ppd-popover {
  background-color: var(--vscode-dropdown-background) !important;
  border: 1px solid var(--vscode-dropdown-border);
  box-shadow: 0 0 4px var(--vscode-dropdown-border);
  border-radius: 4px;
  padding: 4px 8px;

  transition: .1s;

  visibility: hidden;
  opacity: 0;
  &[data-show=true] {
    visibility: visible;
    opacity: 1;
  }
  > .ppd-popover-arrow {
    position: absolute;
    width: 0;
    height: 0;
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border: 6px solid transparent;
    }
    &[data-position=top]::before {
      border-top-color: var(--vscode-dropdown-background);
      left: -6px;
      bottom: -16px;
    }
    &[data-position=bottom]::before {
      border-bottom-color: var(--vscode-dropdown-background);
      left: -6px;
      top: -34px;
    }
  }
}
.ppd-popover-reference {
  cursor: default;
  &.ppd-popover-click {
    cursor: pointer;
  }
}
