.ppd-resizable {
  --inner-border-scale: var(--border-scale, 5);
  --inner-border-trans: calc((var(--inner-border-scale) - 1) / 2);
  --inner-border-width: var(--border-width, 1px);

  position: relative;
  border: 0 solid black;
  &.ppd-resizable__left {
    border-left-width: var(--inner-border-width);
  }
  &.ppd-resizable__right {
    border-right-width: var(--inner-border-width);
  }
  &.ppd-resizable__top {
    border-top-width: var(--inner-border-width);
  }
  &.ppd-resizable__bottom {
    border-bottom-width: var(--inner-border-width);
  }
  &-border {
    z-index: 100;
    position: absolute;
    background-color: #cacdd1;
    transition: .1s;
    html[theme-mode=dark] & {
      background-color: #494c50;
      &:hover {
        background-color: #fff5;
      }
    }
    &__btns {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      opacity: 0;
      transition: .1s;
      > button {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0;
        width: 16px;
        height: 30px;
        border-radius: 4px;

        color: #fff;
        background-color: color-mix(in srgb, var(--primary), var(--bg-cr) 50%);
        border: 1px solid color-mix(in srgb, var(--primary), var(--bg-cr) 80%);

        cursor: e-resize;
        transition: .1s;
        &:hover {
          box-shadow: 0 0 2px gray;
          background-color: color-mix(in srgb, var(--primary), var(--bg-cr) 30%);
        }
        > span.cldr { font-size: 12px }
      }
    }
    &:hover &__btns {
      opacity: 1;
    }
    &:hover {
      z-index: 10;
      background-color: #0008;
    }
    &__top > &__btns, &__bottom > &__btns {
      flex-direction: row;
      > button {
        width: 30px;
        height: 16px;
      }
    }
    &__left, &__right {
      top: 0;
      width: var(--inner-border-width);
      height: 100%;
      cursor: ew-resize;
      &:hover {
        width: calc(var(--inner-border-width) * var(--inner-border-scale));
      }
    }
    &__top, &__bottom {
      left: 0;
      width: 100%;
      height: var(--inner-border-width);
      cursor: ns-resize;
      &:hover {
        height: calc(var(--inner-border-width) * var(--inner-border-scale));
      }
    }
    &__left {
      left: calc(-1 * var(--inner-border-width));
      &:hover {
        transform: translateX(calc(-1 * var(--inner-border-trans) * var(--inner-border-width)));
      }
    }
    &__right {
      right: calc(-1 * var(--inner-border-width));
      &:hover {
        transform: translateX(calc(1 * var(--inner-border-trans) * var(--inner-border-width)));
      }
    }
    &__top {
      top: calc(-1 * var(--inner-border-width));
      &:hover {
        transform: translateY(calc(-1 * var(--inner-border-trans) * var(--inner-border-width)));
      }
    }
    &__bottom {
      bottom: calc(-1 * var(--inner-border-width));
      &:hover {
        transform: translateY(calc(1 * var(--inner-border-trans) * var(--inner-border-width)));
      }
    }
  }
}
