.ppd-switcher {
  --gap: 5px;
  --bor-size: 2px;

  display: flex;
  gap: var(--gap);
  position: relative;
  padding: var(--gap);
  box-sizing: border-box;
  &__item {
    text-align: center;
    cursor: pointer;
    &--bar {
      position: absolute;
      height: calc(100% - var(--gap) * 2);
      box-sizing: border-box;
      border: var(--bor-size) solid color-mix(in srgb, var(--primary), #fff 50%);
      transition: .3s;
    }
  }
}
