div.ppd-top-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;

  width: 100%;
  height: 27px;

  border-bottom: color-mix(in srgb, var(--primary), var(--bg-cr) 20%) solid 1px;
  background-color: color-mix(in srgb, var(--primary), var(--bg-cr) 50%);

  color: #fff;
  transition: .1s;
  &.display-menu {
    padding-left: 26px;
    > .menu-switch {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      width: 26px;
      transform: rotate(90deg);
      cursor: pointer;
      user-select: none;
      transition: .1s;
      &.is-active {
        transform: rotate(0);
      }
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 10px;
    height: 26px;
    background-color: #0000;
    color: #fff;

    cursor: pointer;
    border: none;

    border-bottom: transparent solid 3px;
    box-sizing: border-box;

    outline: none;
    transition: .2s;
    &:hover {
      background-color: color-mix(in srgb, var(--primary), var(--bg-cr) 80%);
      border-bottom: color-mix(in srgb, var(--primary), var(--bg-cr) 20%) solid 3px;
    }
    > .cldr.codicon {
      padding-top: 3px;
      font-size: 14px;
    }
  }
}
