.theme-switch {
  position: relative;

  display: flex;
  align-items: center;
  gap: 5px;
  > .light,
  > .dark,
  > .auto {
    width: 28px;
    height: 28px;
    -webkit-mask-size: 28px !important;
    mask-size: 28px !important;
    background-color: white;

    cursor: pointer;
    transition: .2s;
    &:hover ~ .active {
      opacity: .3;
    }
    &:hover {
      opacity: .7;
    }
  }
  > .light {
    -webkit-mask: url(./ts_light.svg) center no-repeat;
    mask: url(./ts_light.svg) center no-repeat;
    &:hover, &.active {
      -webkit-mask: url(./ts_light_active.svg) center no-repeat;
      mask: url(./ts_light_active.svg) center no-repeat;
      background-color: #ff9a00;
    }
  }
  > .dark {
    -webkit-mask: url(./ts_dark.svg) center no-repeat;
    mask: url(./ts_dark.svg) center no-repeat;
    &:hover, &.active {
      -webkit-mask: url(./ts_dark_active.svg) center no-repeat;
      mask: url(./ts_dark_active.svg) center no-repeat;
      background-color: yellow;
    }
  }
  > .auto {
    background-color: unset;
    background-image: url(./ts_auto.svg);
    background-size: 28px;
    filter: invert(.8);
    opacity: .8;
    &:hover, &.active {
      background-image: url(./ts_auto_active.svg);
      filter: invert(1);
    }
  }
}
