#root .components-demo[data-pathname=dev\/list] {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  > main {
    background-color: white;
    border-radius: 4px;
    > .ppd-list {
      padding: 10px;
      margin: -10px;
    }
  }
}
