#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root > header {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .6em;
  background-color: var(--primary);
  color: #fff;
  transition: .1s;
  > h1 {
    margin: 0;
    line-height: 32px;
  }
  > .opts {
    display: flex;
    align-items: center;
    gap: 10px;
    > .hide-topbar {
      display: flex;
      align-items: center;
      cursor: pointer;
      filter: drop-shadow(0 0 0 var(--fr-cr));
      transition: .3s;
      &:hover {
        filter: drop-shadow(0 0 8px var(--fr-cr));
      }
    }
  }
}

#root > div.main {
  display: flex;
  flex-grow: 1;
  height: 0;
  overflow: hidden;
  &.bottom {
    flex-direction: column;
  }
  &.left {
    flex-direction: row-reverse;
  }
  > iframe.eval-logs {
    position: relative;
    flex-grow: 1;
    min-width: 300px;
    overflow-y: auto;
  }
}
