#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root > header {
  z-index: 10;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .6em;
  background: var(--primary);
  box-shadow: 0 0 16px #00000047;
  color: #fff;
  overflow: hidden;
  transition: .1s;
  a {
    display: flex;
    align-items: center;
    color: var(--pr-fr-cr);
    text-decoration: none;
    font-weight: normal;
  }
  > h1 {
    margin: 0;
    line-height: 32px;
  }
  > .opts {
    display: flex;
    align-items: center;
    gap: 10px;
    .svg-icon  {
      display: flex;
      align-items: center;
      cursor: pointer;
      filter: drop-shadow(0 0 0 #0000);
      transition: .3s;
      &:hover {
        filter: drop-shadow(0 0 4px #000);
      }
      > svg {
        width: 28px;
        height: 28px;
      }
      > svg path {
        fill: var(--icon-cr);
      }
    }
  }
}

#root > div.main {
  display: flex;
  flex-grow: 1;
  height: 0;
  &.bottom {
    flex-direction: column;
  }
  &.left {
    flex-direction: row-reverse;
  }
  &:not(.eval-logs-visible) {
    .ppd-resizable-border__left .cldr.codicon.codicon-debug-continue-small {
      transform: rotate(0deg) !important;
    }
    .ppd-resizable-border__right .cldr.codicon.codicon-debug-continue-small {
      transform: rotate(180deg) !important;
    }
    .ppd-resizable-border__bottom .cldr.codicon.codicon-debug-continue-small {
      transform: rotate(-90deg) !important;
    }
  }
  > iframe.eval-logs {
    position: relative;
    flex-grow: 1;
    min-width: 300px;
    overflow-y: auto;
    border: none;
  }
}

#root .components-demo {
  position: relative;
  display: flex;

  width: 100%;
  height: 100%;

  transition: .2s;
  > main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 300px;
    padding: 10px;
    filter: drop-shadow(0 0 8px #00000037);
  }
  > .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);

    width: 40vw;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--bg-cr-o0);
    backdrop-filter: blur(12px);
    box-shadow: 0 5px 16px #00000020;
    transition: .3s;
    > .menu-item {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 180px;
      height: 48px;
      border-radius: 8px;

      color: var(--fr-cr);
      text-decoration: none;
      font-weight: bold;
      font-size: 18px;

      cursor: pointer;
      transition: .3s;
      &:hover {
        background-color: var(--primary-hover);
      }
      &.active {
        color: var(--primary-active-fc);
        background-color: var(--primary-active);
      }
    }
  }
}
