body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fr-cr);
  background-color: var(--bg-cr);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #365eb4;
  --primary-l0: #2963de;
  --match-span-cr: #ff950b;

  --primary-hover: #365eb422;
  --primary-hover-fc: #fff;

  --primary-active: #365eb444;
  --primary-active-border: #365eb4cc;
  --primary-active-fc: color-mix(in srgb, var(--fr-cr), var(--primary) 20%);
  --primary-active-placholder:rgba(255, 255, 255, 0.6);

  --border-color: #cccccc;

  --fr-cr: rgba(0, 0, 0, 0.9);
  --fr-cr-placholder: rgba(0, 0, 0, 0.26);
  // TODO replace to --primary-active-fc
  --pr-fr-cr: #fff;
  --bg-cr: #efefef;
  --bg-cr-o0: #efefef55;

  --popup-bg: var(--bg-cr);
  --popup-fr-cr: var(--fr-cr);
  --popup-fc-when-pr-as-bg: var(--pr-fr-cr);

  --icon-cr: #fff;
  html[theme-mode=dark] & {
    --primary: #263c6e;
    --primary-l0: #6b88ce;
    --match-span-cr: #e38520;

    --primary-hover: #263c6e44;

    --primary-active: #263c6e66;
    --primary-active-fc: rgba(230, 230, 230, 0.9);
    --primary-active-placholder:rgba(140, 140, 140, 0.6);

    --fr-cr: rgba(255, 255, 255, 0.9);
    --fr-cr-placholder: rgba(255, 255, 255, 0.26);

    --bg-cr: #242424;
    --bg-cr-o0: #24242488;
    --icon-cr: #fff;
  }
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  a {
    --mix-opcity: 20%;
    color: color-mix(in srgb, var(--primary), var(--fr-cr) var(--mix-opcity));
    transition: .1s;
    &:hover {
      --mix-opcity: 0%;
    }
  }
}

body {
  --toastify-color-light: var(--bg-cr);
  --toastify-color-dark: var(--bg-cr);
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, .7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 450px;
  --toastify-toast-background: var(--bg-cr);
  --toastify-toast-min-height: 44px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: var(--fr-cr);
  --toastify-text-color-dark: var(--fr-cr);
  --toastify-text-color-info: var(--fr-cr);
  --toastify-text-color-success: var(--fr-cr);
  --toastify-text-color-warning: var(--fr-cr);
  --toastify-text-color-error: var(--fr-cr);
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: var(--primary);
  --toastify-color-progress-dark: var(--primary);
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
.Toastify {
  z-index: 10000;
  &__toast {
    margin-bottom: 30px !important;
    border: 1px solid var(--pr-fr-cr) !important;
    box-shadow: 0 4px 12px #9999 !important;
    html[theme-mode=dark] & {
      box-shadow: 0 4px 12px #111 !important;
    }
  }
  &__progress-bar {
    height: 3px;
  }
  &__close-button{
    display: flex;
    align-items: center;
    height: 32px;
    color: var(--fr-cr) !important;
  }
}
